.main-header {
  background-image: url("/images/me.jpg");
  background-position: center right;
  background-repeat: no-repeat;
  background-origin: unset;
  height: 600px;
  display: flex;
  align-items: center;
}

.main-header h1 {
  font-size: 5em;
}

.blurb {
  max-width: 1150px;
  font-size: 2em;
  margin: 2em auto;
  font-weight: 300;
  padding: 1em;
}

h2 {
  text-align: center;
  margin: 1em 0 0.5em;
  font-size: 3em;
}

.see-more-heading .card-img-top {
  height: 50px;
}

#carousel {
  max-width: 800px;
  margin: 3rem auto;
  padding: 0 2rem;
}

.carousel-item {
  padding: 2em;
}

.carousel-item img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0 2em 0 0;
}

.carousel-item .testimonial-quote {
  font-size: 2em;
  font-weight: 500;
  line-height: 1.2em;
}
.carousel-item .name {
  font-weight: 500;
}

@media only screen and (max-width: 768px) {
  #carousel {
    margin: 4em;
  }
  .carousel-item {
    padding: 2em;
  }
  .carousel-item > div {
    flex-direction: column;
    align-items: center;
  }
}
